<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	
	
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<typeAlias alias="Person" type="com.mobiconsoft.dashboard.domain.Person"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="com/ma2rix.music/dao/mapper/CodeMapper.xml"></mapper>
		<mapper resource="com/ma2rix.music/dao/mapper/UserMapper.xml"></mapper>
	</mappers>
</configuration>